body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input[type='submit']{
  background-color: rgb(11, 11, 85);
  color: antiquewhite;
  padding: 10px 20px;
  
}
button{
  background-color: rgb(50, 124, 72);
  color: rgb(239, 241, 243);
  padding: 5px;
}
input[type='text']{
  height:30px;
  width:30%;
}